@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.main {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-color: #0E2225;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .image-container {
  padding: 10px;
}

.main .image-container .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .image-container .image img {
  width: 350px;
  align-items: center;
}


/* .main .image-container h1 {
  color: #00bcd4;
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
} */

.main .image-container h1 {
  color: #d3f9ff;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  font-weight: 500;
  font-family: japan;
  overflow: hidden;
}

.main .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21%;
  height: 50px;
  border-radius: 20px;
  background: rgba(68, 244, 250, 0.5);
  cursor: pointer;
}

/* .main .input .talk {
  background: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
} */

.input {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between button and text */
}

.talk {
  background: linear-gradient(135deg, #ff6f61, #298B8F, #0095FF); /* Blended gradient colors */
  background-size: 200% 200%;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease, background-position 3s ease-in-out;
  border-radius: 50%;
  color: #fff; /* Icon color */
  animation: gradientShift 3s ease infinite, pulse 3s infinite; /* Add pulse animation */
  overflow: hidden;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Slightly enlarges the button at the peak of the pulse */
  }
  100% {
    transform: scale(1);
  }
}

.talk:hover {
  box-shadow: 0 0 15px 5px rgb(255, 255, 255); /* Glowing effect */
}

.talk i {
  font-size: 20px;
}

.content {
  font-size: 18px;
  color: #333;
}

.main .input .talk i {
  font-size: 20px;
  color: #aed0d0;
  display: flex;
}

.main .input .content {
  color: #d3f9ff;
  font-size: 16px;
  margin-right: 20px;
}

#name{
  color: #BE2B31;
}

#va{
  color: #0095ff;
  margin-left: 7px;
}
